<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>Rockalizer needs audio input access to process instruments and microphones.</string>
    <key>CFBundleExecutable</key>
    <string>Rockalizer</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.nathanaji.rockalizer</string>
    <key>CFBundleName</key>
    <string>Rockalizer</string>
    <key>CFBundleDisplayName</key>
    <string>Rockalizer</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>0.33.0</string>
    <key>CFBundleVersion</key>
    <string>0.33.0</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>
